* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

button {
  font-family: inherit;
}

.model-container {
  width: 100%;
  height: 600px;
  touch-action: none;
}

@media (max-width: 768px) {
  .model-container {
    height: 250px;
  }
}
